.form_box{
    /* display: flex; */
    padding: 2rem;
    margin: 1rem;
    /* width: 20rem; */
    background-color: antiquewhite;
}

.form_entry{
    margin-top: .6rem;
    display: flex;
    justify-content: left;
    /* width: 60rem; */
}

.create_booking_btn{
    margin-top: 1rem;
}

.input_field{
    /* border-radius: .1rem; */
    padding: .2rem;
    margin-left: 1rem;
    /* align-items: center; */
}